/* @imports */
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans&family=Google+Sans+Text&display=swap');
/* Google Icons */
@import url('https://fonts.googleapis.com/css2?family=Google+Symbols&display=block');
/* gBreeze default values */
@import url('https://unpkg.com/@material/web@nightly/labs/gb/styles/m3.css');

/* Color */
:root, :host {
  color-scheme: light dark;
  --cee3-sys-color-extended-blue: light-dark(#1157ce, #a1c9ff);
  --cee3-sys-color-extended-blue-container: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-extended-blue-fill: light-dark(#1157ce, #a1c9ff);
  --cee3-sys-color-extended-blue-outline: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-extended-blue-tonal: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-extended-caution: light-dark(#8f4e06, #fcbd00);
  --cee3-sys-color-extended-caution-container: light-dark(#ffe07c, #6d3a01);
  --cee3-sys-color-extended-cyan: light-dark(#00687c, #60d5f3);
  --cee3-sys-color-extended-cyan-container: light-dark(#acedff, #004e5d);
  --cee3-sys-color-extended-cyan-fill: light-dark(#00687c, #60d5f3);
  --cee3-sys-color-extended-cyan-outline: light-dark(#acedff, #004e5d);
  --cee3-sys-color-extended-cyan-tonal: light-dark(#acedff, #004e5d);
  --cee3-sys-color-extended-error-container: light-dark(#ffdadc, #8a1a16);
  --cee3-sys-color-extended-green: light-dark(#006c35, #80da88);
  --cee3-sys-color-extended-green-container: light-dark(#beefbb, #00522c);
  --cee3-sys-color-extended-green-fill: light-dark(#006c35, #80da88);
  --cee3-sys-color-extended-green-outline: light-dark(#beefbb, #00522c);
  --cee3-sys-color-extended-green-tonal: light-dark(#beefbb, #00522c);
  --cee3-sys-color-extended-grey: light-dark(#5e5e5e, #c7c7c7);
  --cee3-sys-color-extended-grey-container: light-dark(#e3e3e3, #474747);
  --cee3-sys-color-extended-grey-fill: light-dark(#5e5e5e, #c7c7c7);
  --cee3-sys-color-extended-grey-outline: light-dark(#e3e3e3, #474747);
  --cee3-sys-color-extended-grey-tonal: light-dark(#e3e3e3, #474747);
  --cee3-sys-color-extended-info: light-dark(#1157ce, #a1c9ff);
  --cee3-sys-color-extended-info-container: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-extended-informational: light-dark(#1157ce, #a1c9ff);
  --cee3-sys-color-extended-informational-container: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-extended-link: light-dark(#0b57d0, #a8c7fa);
  --cee3-sys-color-extended-link-visited: light-dark(#7438d2, #d9bafd);
  --cee3-sys-color-extended-link-visited-hover: light-dark(#5629a4, #eedcfe);
  --cee3-sys-color-extended-link-hover: light-dark(#0842a0, #d3e3fd);
  --cee3-sys-color-extended-on-blue: light-dark(#ffffff, #012c6f);
  --cee3-sys-color-extended-on-blue-container: light-dark(#04409f, #d0e4ff);
  --cee3-sys-color-extended-on-blue-fill: light-dark(#ffffff, #012c6f);
  --cee3-sys-color-extended-on-blue-outline: light-dark(#1157ce, #a1c9ff);
  --cee3-sys-color-extended-on-blue-tonal: light-dark(#04409f, #d0e4ff);
  --cee3-sys-color-extended-on-caution: light-dark(#ffffff, #4d2600);
  --cee3-sys-color-extended-on-caution-container: #1b1b1c;
  --cee3-sys-color-extended-on-cyan: light-dark(#ffffff, #003641);
  --cee3-sys-color-extended-on-cyan-container: light-dark(#004e5d, #acedff);
  --cee3-sys-color-extended-on-cyan-fill: light-dark(#ffffff, #003641);
  --cee3-sys-color-extended-on-cyan-outline: light-dark(#00687c, #acedff);
  --cee3-sys-color-extended-on-cyan-tonal: light-dark(#004e5d, #acedff);
  --cee3-sys-color-extended-on-error: light-dark(#ffffff, #60150f);
  --cee3-sys-color-extended-on-error-container: light-dark(#8a1a16, #ffdadc);
  --cee3-sys-color-extended-on-green: light-dark(#ffffff, #00381f);
  --cee3-sys-color-extended-on-green-container: light-dark(#00522c, #beefbb);
  --cee3-sys-color-extended-on-green-fill: light-dark(#ffffff, #00381f);
  --cee3-sys-color-extended-on-green-outline: light-dark(#006c35, #80da88);
  --cee3-sys-color-extended-on-green-tonal: light-dark(#00522c, #beefbb);
  --cee3-sys-color-extended-on-grey: light-dark(#ffffff, #303030);
  --cee3-sys-color-extended-on-grey-container: light-dark(#474747, #e3e3e3);
  --cee3-sys-color-extended-on-grey-fill: light-dark(#ffffff, #303030);
  --cee3-sys-color-extended-on-grey-outline: light-dark(#474747, #c7c7c7);
  --cee3-sys-color-extended-on-grey-tonal: light-dark(#474747, #e3e3e3);
  --cee3-sys-color-extended-on-info: light-dark(#ffffff, #012c6f);
  --cee3-sys-color-extended-on-info-container: light-dark(#04409f, #d0e4ff);
  --cee3-sys-color-extended-on-informational: light-dark(#ffffff, #012c6f);
  --cee3-sys-color-extended-on-informational-container: #1b1b1c;
  --cee3-sys-color-extended-on-orange: light-dark(#ffffff, #522302);
  --cee3-sys-color-extended-on-orange-container: light-dark(#753403, #ffdcc3);
  --cee3-sys-color-extended-on-orange-fill: light-dark(#ffffff, #522302);
  --cee3-sys-color-extended-on-orange-outline: light-dark(#522302, #ffb683);
  --cee3-sys-color-extended-on-orange-tonal: light-dark(#753403, #ffdcc3);
  --cee3-sys-color-extended-on-pink: light-dark(#ffffff, #620438);
  --cee3-sys-color-extended-on-pink-container: light-dark(#8d0053, #ffd8ef);
  --cee3-sys-color-extended-on-pink-fill: light-dark(#ffffff, #620438);
  --cee3-sys-color-extended-on-pink-outline: light-dark(#b60d6e, #ffaee4);
  --cee3-sys-color-extended-on-pink-tonal: light-dark(#8d0053, #ffd8ef);
  --cee3-sys-color-extended-on-purple: light-dark(#ffffff, #400b84);
  --cee3-sys-color-extended-on-purple-container: light-dark(#5629a4, #eedcfe);
  --cee3-sys-color-extended-on-purple-fill: light-dark(#ffffff, #400b84);
  --cee3-sys-color-extended-on-purple-outline: light-dark(#7438d2, #d9bafd);
  --cee3-sys-color-extended-on-purple-tonal: light-dark(#5629a4, #eedcfe);
  --cee3-sys-color-extended-on-red: light-dark(#ffffff, #60150f);
  --cee3-sys-color-extended-on-red-container: light-dark(#8a1a16, #ffdadc);
  --cee3-sys-color-extended-on-red-fill: light-dark(#ffffff, #60150f);
  --cee3-sys-color-extended-on-red-outline: light-dark(#b3251e, #ffb3ae);
  --cee3-sys-color-extended-on-red-tonal: light-dark(#8a1a16, #ffdadc);
  --cee3-sys-color-extended-on-success: light-dark(#ffffff, #00381f);
  --cee3-sys-color-extended-on-success-container: light-dark(#00522c, #beefbb);
  --cee3-sys-color-extended-on-warning: light-dark(#ffffff, #4d2600);
  --cee3-sys-color-extended-on-warning-container: light-dark(#6d3a01, #ffe07c);
  --cee3-sys-color-extended-on-yellow: light-dark(#ffffff, #4d2600);
  --cee3-sys-color-extended-on-yellow-container: light-dark(#6d3a01, #ffe07c);
  --cee3-sys-color-extended-on-yellow-fill: light-dark(#ffffff, #4d2600);
  --cee3-sys-color-extended-on-yellow-outline: light-dark(#6d3a01, #ffe07c);
  --cee3-sys-color-extended-on-yellow-tonal: light-dark(#6d3a01, #ffe07c);
  --cee3-sys-color-extended-orange: light-dark(#9a4600, #ffb683);
  --cee3-sys-color-extended-orange-container: light-dark(#ffdcc3, #753403);
  --cee3-sys-color-extended-orange-fill: light-dark(#9a4600, #ffb683);
  --cee3-sys-color-extended-orange-outline: light-dark(#ffdcc3, #753403);
  --cee3-sys-color-extended-orange-tonal: light-dark(#ffdcc3, #753403);
  --cee3-sys-color-extended-pink: light-dark(#b60d6e, #ffaee4);
  --cee3-sys-color-extended-pink-container: light-dark(#ffd8ef, #8d0053);
  --cee3-sys-color-extended-pink-fill: light-dark(#b60d6e, #ffaee4);
  --cee3-sys-color-extended-pink-outline: light-dark(#ffd8ef, #8d0053);
  --cee3-sys-color-extended-pink-tonal: light-dark(#ffd8ef, #8d0053);
  --cee3-sys-color-extended-purple: light-dark(#7438d2, #d9bafd);
  --cee3-sys-color-extended-purple-container: light-dark(#eedcfe, #5629a4);
  --cee3-sys-color-extended-purple-fill: light-dark(#7438d2, #d9bafd);
  --cee3-sys-color-extended-purple-outline: light-dark(#eedcfe, #5629a4);
  --cee3-sys-color-extended-purple-tonal: light-dark(#eedcfe, #5629a4);
  --cee3-sys-color-extended-red: light-dark(#b3251e, #ffb3ae);
  --cee3-sys-color-extended-red-container: light-dark(#ffdadc, #8a1a16);
  --cee3-sys-color-extended-red-fill: light-dark(#b3251e, #ffb3ae);
  --cee3-sys-color-extended-red-outline: light-dark(#ffdadc, #8a1a16);
  --cee3-sys-color-extended-red-tonal: light-dark(#ffdadc, #8a1a16);
  --cee3-sys-color-extended-success: light-dark(#006c35, #80da88);
  --cee3-sys-color-extended-success-container: light-dark(#beefbb, #00522c);
  --cee3-sys-color-extended-warning: light-dark(#8f4e06, #fcbd00);
  --cee3-sys-color-extended-warning-container: light-dark(#ffe07c, #6d3a01);
  --cee3-sys-color-extended-yellow: light-dark(#8f4e06, #fcbd00);
  --cee3-sys-color-extended-yellow-container: light-dark(#ffe07c, #6d3a01);
  --cee3-sys-color-extended-yellow-fill: light-dark(#8f4e06, #fcbd00);
  --cee3-sys-color-extended-yellow-outline: light-dark(#ffe07c, #8f4e06);
  --cee3-sys-color-extended-yellow-tonal: light-dark(#ffe07c, #6d3a01);
  --cee3-sys-color-illustrations-background-blue-low: light-dark(#a1c9ff, #1157ce);
  --cee3-sys-color-illustrations-background-blue-lower: light-dark(#d0e4ff, #04409f);
  --cee3-sys-color-illustrations-background-green-low: light-dark(#80da88, #006c35);
  --cee3-sys-color-illustrations-background-green-lower: light-dark(#beefbb, #00522c);
  --cee3-sys-color-illustrations-background-grey-high: light-dark(#777777, #c7c7c7);
  --cee3-sys-color-illustrations-background-grey-higher: light-dark(#474747, #e3e3e3);
  --cee3-sys-color-illustrations-background-grey-low: light-dark(#c7c7c7, #777777);
  --cee3-sys-color-illustrations-background-grey-lower: light-dark(#e3e3e3, #474747);
  --cee3-sys-color-illustrations-background-grey-lowest: light-dark(#f2f2f2, #1b1b1c);
  --cee3-sys-color-illustrations-background-grey-medium: light-dark(#919191, #ababab);
  --cee3-sys-color-illustrations-background-yellow-low: light-dark(#ffe07c, #8f4e06);
  --cee3-sys-color-illustrations-background-yellow-lower: light-dark(#fff2b4, #6d3a01);
  --cee3-sys-color-illustrations-blue-dark: light-dark(#1157ce, #3271ea);
  --cee3-sys-color-illustrations-blue-darker: light-dark(#012c6f, #04409f);
  --cee3-sys-color-illustrations-blue-darkest: light-dark(#001944, #012c6f);
  --cee3-sys-color-illustrations-blue-light: light-dark(#a1c9ff, #76acff);
  --cee3-sys-color-illustrations-blue-lighter: light-dark(#e7f2ff, #a1c9ff);
  --cee3-sys-color-illustrations-blue-medium: light-dark(#3271ea, #4e8ff8);
  --cee3-sys-color-illustrations-cyan-dark: #00839b;
  --cee3-sys-color-illustrations-cyan-darker: #00687c;
  --cee3-sys-color-illustrations-cyan-darkest: light-dark(#001f26, #003641);
  --cee3-sys-color-illustrations-cyan-light: #60d5f3;
  --cee3-sys-color-illustrations-cyan-lighter: #acedff;
  --cee3-sys-color-illustrations-cyan-medium: #00bbdf;
  --cee3-sys-color-illustrations-green-dark: light-dark(#006c35, #128937);
  --cee3-sys-color-illustrations-green-darker: light-dark(#00381f, #00522c);
  --cee3-sys-color-illustrations-green-darkest: light-dark(#002110, #00381f);
  --cee3-sys-color-illustrations-green-light: #80da88;
  --cee3-sys-color-illustrations-green-lighter: light-dark(#ddf8d8, #beefbb);
  --cee3-sys-color-illustrations-green-medium: light-dark(#1aa64a, #44c265);
  --cee3-sys-color-illustrations-grey-darkest: light-dark(#1b1b1c, #303030);
  --cee3-sys-color-illustrations-hair-amber: #f37638;
  --cee3-sys-color-illustrations-hair-black: light-dark(#1b1b1c, #474747);
  --cee3-sys-color-illustrations-hair-dark-blonde: #ab570f;
  --cee3-sys-color-illustrations-hair-dark-brown: #4d2600;
  --cee3-sys-color-illustrations-hair-grey: #9aa0a6;
  --cee3-sys-color-illustrations-hair-light-blonde: #f4c96b;
  --cee3-sys-color-illustrations-hair-light-brown: #943c00;
  --cee3-sys-color-illustrations-hair-light-grey: #bdc1c6;
  --cee3-sys-color-illustrations-hair-medium-blonde: #db9b5a;
  --cee3-sys-color-illustrations-hair-medium-brown: #704640;
  --cee3-sys-color-illustrations-on-skin-a: #f2b176;
  --cee3-sys-color-illustrations-on-skin-b: #c17d5f;
  --cee3-sys-color-illustrations-on-skin-c: #a56f5b;
  --cee3-sys-color-illustrations-on-skin-d: #875744;
  --cee3-sys-color-illustrations-on-skin-e: #77403c;
  --cee3-sys-color-illustrations-on-skin-f: #633b31;
  --cee3-sys-color-illustrations-on-skin-g: #54312a;
  --cee3-sys-color-illustrations-on-skin-h: #351e1c;
  --cee3-sys-color-illustrations-on-skin-i: #231110;
  --cee3-sys-color-illustrations-orange-dark: #c05a01;
  --cee3-sys-color-illustrations-orange-darker: #9a4600;
  --cee3-sys-color-illustrations-orange-darkest: light-dark(#321200, #522302);
  --cee3-sys-color-illustrations-orange-light: #ffb683;
  --cee3-sys-color-illustrations-orange-lighter: #ffdcc3;
  --cee3-sys-color-illustrations-orange-medium: #ff8d41;
  --cee3-sys-color-illustrations-pink-dark: #dc258d;
  --cee3-sys-color-illustrations-pink-darker: #b60d6e;
  --cee3-sys-color-illustrations-pink-darkest: light-dark(#3d0023, #620438);
  --cee3-sys-color-illustrations-pink-light: #ffaee4;
  --cee3-sys-color-illustrations-pink-lighter: #ffd8ef;
  --cee3-sys-color-illustrations-pink-medium: #ff7dd2;
  --cee3-sys-color-illustrations-purple-dark: #9254ea;
  --cee3-sys-color-illustrations-purple-darker: #7438d2;
  --cee3-sys-color-illustrations-purple-darkest: light-dark(#280255, #400b84);
  --cee3-sys-color-illustrations-purple-light: #d9bafd;
  --cee3-sys-color-illustrations-purple-lighter: #eedcfe;
  --cee3-sys-color-illustrations-purple-medium: #c597ff;
  --cee3-sys-color-illustrations-red-dark: light-dark(#b3251e, #db372d);
  --cee3-sys-color-illustrations-red-darker: light-dark(#60150f, #b3251e);
  --cee3-sys-color-illustrations-red-darkest: light-dark(#3a0907, #60150f);
  --cee3-sys-color-illustrations-red-light: light-dark(#ffb3ae, #ff8983);
  --cee3-sys-color-illustrations-red-lighter: light-dark(#ffecee, #ffb3ae);
  --cee3-sys-color-illustrations-red-medium: light-dark(#db372d, #f55e57);
  --cee3-sys-color-illustrations-skin-a: #ffe1c5;
  --cee3-sys-color-illustrations-skin-b: #fec48f;
  --cee3-sys-color-illustrations-skin-c: #e8b195;
  --cee3-sys-color-illustrations-skin-d: #c48469;
  --cee3-sys-color-illustrations-skin-e: #b96e59;
  --cee3-sys-color-illustrations-skin-f: #9b624e;
  --cee3-sys-color-illustrations-skin-g: #875444;
  --cee3-sys-color-illustrations-skin-h: #6d4137;
  --cee3-sys-color-illustrations-skin-i: #513128;
  --cee3-sys-color-illustrations-white-fixed: #ffffff;
  --cee3-sys-color-illustrations-yellow-dark: light-dark(#d37b00, #ef9800);
  --cee3-sys-color-illustrations-yellow-darker: light-dark(#6d3a01, #8f4e06);
  --cee3-sys-color-illustrations-yellow-darkest: light-dark(#2f1400, #4d2600);
  --cee3-sys-color-illustrations-yellow-light: #ffe07c;
  --cee3-sys-color-illustrations-yellow-lighter: #fff2b4;
  --cee3-sys-color-illustrations-yellow-medium: #fcbd00;
  --cee3-sys-color-state-layers-info-08: light-dark(#1157ce14, #a1c9ff14);
  --cee3-sys-color-state-layers-info-10: light-dark(#1157ce19, #a1c9ff19);
  --cee3-sys-color-state-layers-info-container-08: light-dark(#d0e4ff14, #04409f14);
  --cee3-sys-color-state-layers-info-container-10: light-dark(#d0e4ff19, #04409f19);
  --cee3-sys-color-state-layers-on-info-08: light-dark(#ffffff14, #012c6f14);
  --cee3-sys-color-state-layers-on-info-10: light-dark(#ffffff19, #012c6f19);
  --cee3-sys-color-state-layers-on-info-container-08: light-dark(#04409f14, #d0e4ff14);
  --cee3-sys-color-state-layers-on-info-container-10: light-dark(#04409f19, #d0e4ff19);
  --cee3-sys-color-state-layers-on-success-08: light-dark(#ffffff14, #00381f14);
  --cee3-sys-color-state-layers-on-success-10: light-dark(#ffffff19, #00381f19);
  --cee3-sys-color-state-layers-on-success-container-08: light-dark(#00522c14, #beefbb14);
  --cee3-sys-color-state-layers-on-success-container-10: light-dark(#00522c19, #beefbb19);
  --cee3-sys-color-state-layers-on-warning-08: light-dark(#ffffff14, #4d260014);
  --cee3-sys-color-state-layers-on-warning-10: light-dark(#ffffff19, #4d260019);
  --cee3-sys-color-state-layers-on-warning-container-08: light-dark(#6d3a0114, #ffe07c14);
  --cee3-sys-color-state-layers-on-warning-container-10: light-dark(#6d3a0119, #ffe07c19);
  --cee3-sys-color-state-layers-success-08: light-dark(#006c3514, #80da8814);
  --cee3-sys-color-state-layers-success-10: light-dark(#006c3519, #80da8819);
  --cee3-sys-color-state-layers-success-container-08: light-dark(#beefbb14, #00522c14);
  --cee3-sys-color-state-layers-success-container-10: light-dark(#beefbb19, #00522c19);
  --cee3-sys-color-state-layers-warning-08: light-dark(#8f4e0614, #fcbd0014);
  --cee3-sys-color-state-layers-warning-10: light-dark(#8f4e0619, #fcbd0019);
  --cee3-sys-color-state-layers-warning-container-08: light-dark(#ffe07c14, #6d3a0114);
  --cee3-sys-color-state-layers-warning-container-10: light-dark(#ffe07c19, #6d3a0119);
}

/* Typography */
:root, :host {
  --cee3-typescale-body-large-link: 1rem/1.5rem 'Google Sans Text';
  --cee3-typescale-body-medium-link: 0.9rem/1.3rem 'Google Sans Text';
  --cee3-typescale-body-small-link: 0.8rem/1rem 'Google Sans Text';
  --cee3-typescale-body-small-link-tracking: 0;
  --cee3-typescale-display-large-link: 3.6rem/4rem 'Google Sans';
  --cee3-typescale-display-medium-link: 2.8rem/3.3rem 'Google Sans';
  --cee3-typescale-display-small-link: 2.3rem/2.8rem 'Google Sans';
  --cee3-typescale-headline-large-link: 2rem/2.5rem 'Google Sans';
  --cee3-typescale-headline-medium-link: 1.8rem/2.3rem 'Google Sans';
  --cee3-typescale-headline-small-link: 1.5rem/2rem 'Google Sans';
  --cee3-typescale-label-large-link: 500 0.9rem/1.3rem 'Google Sans Text';
  --cee3-typescale-label-medium-link: 500 0.8rem/1rem 'Google Sans Text';
  --cee3-typescale-label-medium-link-tracking: 0;
  --cee3-typescale-label-small-link: 500 0.7rem/1rem 'Google Sans Text';
  --cee3-typescale-label-small-link-tracking: 0;
  --cee3-typescale-title-large-link: 1.4rem/1.8rem 'Google Sans';
  --cee3-typescale-title-medium-link: 500 1rem 'Google Sans Text';
  --cee3-typescale-title-small-link: 500 0.9rem/1.3rem 'Google Sans Text';
}

/* Icons */
:root, :host {
  --md-icon-font: 'Google Symbols';  /* The font family to use for icons. */
}

